@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}
.dark {
	background: #232121;
	color: #fff;
}

.dark p {
	color: rgb(209, 213, 219);
}
.disabled {
	cursor: not-allowed;
	background-color: #9ca3af;
	color: #e5e7eb;
}

.disabled:hover {
	background-color: #e5e7eb;
	color: #9ca3af;
}

button:hover {
	background-color: #1fc6c6;
	color: #fff;
}

.light {
	background: #f3f4f6;
	color: #000;
}

p {
	color: rgba(73, 87, 116, 0.797);
}

span {
	color: #1fc6c6;
}

li:hover {
	color: #1fc6c6;
}

.navbar-dark {
	background: #1f1c1c;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.navbar-light {
	background: #f3f4f6;
	color: #000;
}
